# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# vscode
.vscode

# vs
.vs
*.user
CMakeSettings.json

# vim
*.swo
*.swp

# macos
.DS_Store

# Depend
deps/*
!deps/CMakeLists.txt
res/*
!res/config.ini
!res/license.lic
!res/instruments.txt
!res/livermore-tx_en_US.properties
!res/livermore-tx_zh_CN.properties

# Directory
build
bin
out